RewriteEngine on
Redirect /bucketlist /bucketlist.php
RewriteCond %{HTTP_HOST} ^chancesmith\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.chancesmith\.org$
RewriteRule ^meeting$ "https\:\/\/calendly\.com\/chance\/" [R=301,L]

Redirect /bucketlist /bucketlist.php
Redirect /churchupdates https://chance3.typeform.com/to/FUjuUo
Redirect /church-updates https://chance3.typeform.com/to/FUjuUo